body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FFFFFF;
}

/* HERO BANNER */
.hero-banner {
    background: url('library.jpeg') no-repeat center center/cover;
    padding: 60px 20px;
    text-align: center;
    color: white;
    position: relative;
    overflow: hidden;
}

.hero-banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* tingkat gelap bisa diubah */
    z-index: 1;
}

.hero-banner h1,
.hero-banner p,
.top-nav {
    position: relative;
    z-index: 2;
}
    
/* TOP NAV */
.top-nav {
    position: absolute;
    top: 15px;
    right: 20px;
}

.top-nav a {
    margin-left: 15px;
    text-decoration: none;
    color: #205A28; 
    font-weight: bold;
    cursor: pointer;
}

/* SEARCH */
.search-box {
    display: inline-block;
    margin-left: 20px;
}

.search-box input {
    padding: 5px;
}

/* SIDE NAV */
.side-nav {
    position: fixed;
    left: 0;
    top: 0;
    width: 180px;
    height: 100%;
    background-color:  #FFFFFF;
    padding-top: 60px;
    border-right: 2px solid #205A28;
}

.side-nav a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #205A28; 
    font-weight: bold;
    cursor: pointer;
}

.side-nav a:hover {
    background-color: #F5F5F5;
}

.content {
    margin-left: 190px;
}

.hero {
    padding: 40px;
    text-align: center;
    color: #205A28;
}

hr {
    border: 2px solid #205A28;
    width: 80%;
}

/* BUTTON STYLE */
button {
    background-color: #C72B32; /* Merah */
    color: #FFFFFF;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    opacity: 0.85;
}

footer {
    background-color: #FFCDC9;
    padding: 20px;
    text-align: center;
}
